# Операционные системы
.DS_Store
Thumbs.db

# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
ENV/
env/
venv/
*.env

# Migrations
migrations/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

