<!-- app/templates/admin/admin_console.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Console</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Подключение внешнего файла стилей styles.css -->
</head>
<body>
    <h1>Admin Console</h1>
    <p>Welcome, {{ current_user.first_name }}!</p>
    <a href="{{ url_for('main.index') }}" class="btn btn-back">Back to Main Page</a>
</body>
</html>
