<!-- reset_password_request.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reset Password Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Reset Password Request</h1>
    <form method="post" action="{{ url_for('request_reset_password') }}">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
        <p><input type="submit" value="Request Password Reset"></p>
    </form>
    <p>Remembered your password? <a href="{{ url_for('login') }}">Login</a></p>
</div>
</body>
</html>
