<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Secret</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Verify Secret Question</h1>
    <form method="post" action="{{ url_for('verify_secret', token=token) }}">
        {{ form.hidden_tag() }}
        <p>{{ form.secret_question.label }}<br>{{ form.secret_question(size=32, readonly=True) }}</p>
        <p>{{ form.secret_answer.label }}<br>{{ form.secret_answer(size=32) }}</p>
        <p><input type="submit" value="Verify"></p>
    </form>
    <div class="back-to-index">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
</body>
</html>
