<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Update User Role</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role.label }}<br>
            {{ form.role() }}<br>
            {% for error in form.role.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <!-- Кнопка для возврата на главную страницу -->
    <a href="{{ url_for('index') }}" class="btn">Back to Home</a>

    <nav>
        <a href="{{ url_for('admin_console') }}">Admin Console</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
</body>
</html>
